<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bois_tp10_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5C5949621B578B90026DE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C594AA21B578D50026DE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5C594B521B578D50026DE02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
